In [31]:
import pandas as pd
import matplotlib as plt

In [32]:
# Read csv into dataframe, concat date and time columns into single datetime64 column
df = pd.read_csv('LMPD_STOP_DATA_2022.csv', parse_dates=[['ACTIVITY_DATE', 'ACTIVITY_TIME']])
df.head()

,ACTIVITY_DATE_ACTIVITY_TIME,TYPE_OF_STOP,CITATION_CONTROL_NUMBER,ACTIVITY RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,ACTIVITY_LOCATION,ACTIVITY_DIVISION,ACTIVITY_BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER OF PASSENGERS,WAS_VEHCILE_SEARCHED,REASON_FOR_SEARCH
0,2022-01-02 21:44:00,COMPLAINT/CRIMINAL VIOLATION,DU03293,CITATION ISSUED,M,WHITE,21 - 30,M ST ...,4TH DIVISION,BEAT 4,M,WHITE,26 - 30,2,YES,NaN
1,2022-07-21 02:00:00,COMPLAINT/CRIMINAL VIOLATION,DV75866,CITATION ISSUED,M,WHITE,51 - 60,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,YES,4.0
2,2022-07-21 02:00:00,COMPLAINT/CRIMINAL VIOLATION,DV87754,CITATION ISSUED,M,WHITE,51 - 60,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,NO,NaN
3,2022-01-25 11:23:00,COMPLAINT/CRIMINAL VIOLATION,DW19051,CITATION ISSUED,M,WHITE,21 - 30,4500 BLOCK SOUTHERN PKWY,4TH DIVISION,BEAT 6,M,WHITE,20 - 25,0,YES,4.0
4,2022-01-13 05:30:00,COMPLAINT/CRIMINAL VIOLATION,DX65321,CITATION ISSUED,M,WHITE,31 - 40,PRESTON HWY @ OUTER LOOP ...,7TH DIVISION,BEAT 6,M,WHITE,51 - 60,1,YES,3.0

In [33]:
# Correct spelling errors and shorten column names.
df = df.rename(columns={'WAS_VEHCILE_SEARCHED': 'WAS_VEHICLE_SEARCHED', 'ACTIVITY_DATE_ACTIVITY_TIME': 'DATETIME', 'CITATION_CONTROL_NUMBER': 'CITATION_NUMBER', 'ACTIVITY_LOCATION': 'LOCATION', 'ACTIVITY_DIVISION': 'DIVISION', 'ACTIVITY_BEAT': 'BEAT'})

In [34]:
# Convert column from str to bool
df.loc[df.WAS_VEHICLE_SEARCHED == 'YES', 'WAS_VEHICLE_SEARCHED']=bool(1)
df.loc[(df.WAS_VEHICLE_SEARCHED == 'NO'), 'WAS_VEHICLE_SEARCHED']=bool(0)

In [35]:
df.head()

,DATETIME,TYPE_OF_STOP,CITATION_NUMBER,ACTIVITY RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,LOCATION,DIVISION,BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER OF PASSENGERS,WAS_VEHICLE_SEARCHED,REASON_FOR_SEARCH
0,2022-01-02 21:44:00,COMPLAINT/CRIMINAL VIOLATION,DU03293,CITATION ISSUED,M,WHITE,21 - 30,M ST ...,4TH DIVISION,BEAT 4,M,WHITE,26 - 30,2,True,NaN
1,2022-07-21 02:00:00,COMPLAINT/CRIMINAL VIOLATION,DV75866,CITATION ISSUED,M,WHITE,51 - 60,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,True,4.0
2,2022-07-21 02:00:00,COMPLAINT/CRIMINAL VIOLATION,DV87754,CITATION ISSUED,M,WHITE,51 - 60,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,False,NaN
3,2022-01-25 11:23:00,COMPLAINT/CRIMINAL VIOLATION,DW19051,CITATION ISSUED,M,WHITE,21 - 30,4500 BLOCK SOUTHERN PKWY,4TH DIVISION,BEAT 6,M,WHITE,20 - 25,0,True,4.0
4,2022-01-13 05:30:00,COMPLAINT/CRIMINAL VIOLATION,DX65321,CITATION ISSUED,M,WHITE,31 - 40,PRESTON HWY @ OUTER LOOP ...,7TH DIVISION,BEAT 6,M,WHITE,51 - 60,1,True,3.0

In [36]:
# Find null values
df.isnull().sum()

DATETIME                    0
TYPE_OF_STOP                0
CITATION_NUMBER             0
ACTIVITY RESULTS            0
OFFICER_GENDER              0
OFFICER_RACE                0
OFFICER_AGE_RANGE           0
LOCATION                    0
DIVISION                    0
BEAT                        0
DRIVER_GENDER               0
DRIVER_RACE               125
DRIVER_AGE_RANGE            0
NUMBER OF PASSENGERS        0
WAS_VEHICLE_SEARCHED        0
REASON_FOR_SEARCH       20558
dtype: int64

In [37]:
# Drop null values
df.REASON_FOR_SEARCH = df.REASON_FOR_SEARCH.fillna(0)
df.DRIVER_RACE = df.DRIVER_RACE.fillna('UNKNOWN')

In [38]:
# Show percentage of pulled-over drivers whose vehicles were searched, broken down by race.
pd.crosstab(df['DRIVER_RACE'], df['WAS_VEHICLE_SEARCHED']).apply(lambda r: r/r.sum() * 100, axis=1)

WAS_VEHICLE_SEARCHED       False     True
DRIVER_RACE
AMERICAN INDIAN       100.000000  0.000000
ASIAN                  99.250936  0.749064
BLACK                  92.199972  7.800028
HISPANIC               97.476760  2.523240
UNKNOWN                97.600000  2.400000
WHITE                  96.925711  3.074289